{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<h2>Sign in </h2>
<form method="POST">
    <label style="margin-right:10px;" for="username">Username</label>
    <input type="text" name="username">
    <br>
    <label style="margin-right:16px;" for="password">Password</label>
    <input type="password" name="password">
    <br>
    <label style="margin-right:149px;"></label>
    <input type="submit" value="login">
    {% csrf_token %}
</form>
{% endblock content %}